@use "../../vars.scss";

.knob {
  $root: &;

  --size: 50px;
  --padding: 10px;

  &--small {
    --size: 30px;
    --padding: 5px;

    #{$root}__input {
      display: none;
    }

    #{$root}__dot {
      top: 3px;
    }
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--size);

  &__label {
    margin-bottom: 5px;
  }

  &__input {
    border-radius: 3px;
    overflow: hidden;
  }

  input {
    display: block;
    color: inherit;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    padding: 3px 6px;
    text-align: center;
    box-shadow: vars.$shadow-inner;
    background-color: var(--knob-input-bg);
  }

  &__wrapper {
    flex-shrink: 0;
    height: var(--size);
    width: var(--size);
    position: relative;
  }

  &__meter {
    display: block;
    height: var(--size);
    width: var(--size);

    circle {
      transform-origin: 50% 50%;
    }
  }

  &__meter-background {
    stroke: var(--knob-meter-bg);
  }

  &__wheel-wrapper {
    position: absolute;
    height: calc(var(--size) * 0.6);
    width: calc(var(--size) * 0.6);
    top: 50%;
    left: 50%;
    box-shadow: var(--shadow-small-dark);
    border-radius: 50%;
    transform: translate(-50%, -52%);
  }

  &__wheel {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--knob-wheel);
    border: 1px solid var(--knob-wheel-border);
    border-radius: 50%;
    box-sizing: border-box;
  }

  &__dot {
    position: absolute;
    height: 5px;
    width: 5px;
    background-color: var(--knob-wheel-dot);
    border-radius: 5px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}
