.button {
  appearance: none;
  border: none;
  background-color: var(--button);
  color: var(--button-text);
  border-radius: 5px;
  padding: 5px;

  &:hover {
    background-color: var(--button-hover);
    color: var(--button-hover-text);
  }

  &--dark {
    background-color: var(--button-dark);
    color: var(--button-dark-text);

    &:hover {
      background-color: var(--button-dark-hover);
    }
  }

  svg {
    display: block;
    height: 16px;
    width: auto;
  }
}
