.velocity-targets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px 20px;

  label {
    font-size: 0.85em;
  }

  &__target {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
  }
}
