@use "../../vars.scss";

.waveform {
  position: relative;

  canvas {
    background-color: var(--waveform-bg);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: vars.$shadow-inner;
  }
}
