@use "../../vars";

.presets {
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__label {
    font-size: 0.85rem;
  }

  input {
    display: block;
    border: none;
    border-radius: 3px;
    padding: 3px 6px;
    box-shadow: vars.$shadow-inner;
  }
}
