.lfo {
  &__selects {
    font-size: 0.85rem;
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.2rem;
    row-gap: 0.3rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__sync {
    display: flex;
    column-gap: 5px;
  }
}
